button.home {
  height: 56px;
  width: 150px;
}

h2.notices {
  width: 426px;
}

.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 90vh;
  background-color: #fefefe;
}

.barra-navegacao {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 1216px;
  height: 72px;
  margin-top: 64px;
}

.link-navegacao {
  color: #1e1e1e;
  font-size: 16px;
  letter-spacing: -0.015rem;
  margin-right: 16px;
  cursor: pointer;
  text-decoration: none;
}

.hero-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1216px;
  height: 594px;
  padding-top: 64px;
}

.hero-info-title {
  font-size: 48px;
  font-weight: bold;
  margin: 0px;
}

.hero-info-subtitle {
  font-size: 20px;
  line-height: 28px;
  max-width: 65%;
  margin-top: 16px;
}

.hero-info-image {
  height: 450px;
  width: 850px;
  border-radius: 40px;
  border-color: darkviolet;
  border-width: 4px;
  border-style: solid;
}

.section-notices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 100px;
}

.notice-card-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
  column-gap: 36px;
  margin-top: 48px;
}

.notice-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 560px;
  border-width: 1px;
  border-color: #d9d9d9;
  border-radius: 12px;
  border-style: solid;
  padding-top: 16px;
  background-color: darkviolet;
}

.notice-img {
  width: 426px;
  height: 240px;
  padding-bottom: 24px;
  padding-top: 24px;
}

p.notice {
  color: #fefefe;
  width: 426px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.notices-favorite-icons {
  display: flex;
  flex-direction: row;
  width: 10%;
  align-items: center;
  margin-top: 24px;
}

.notices-favorite-icons-img {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.section-aboutUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 100px;
}

.aboutUs-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-width: 4px;
  border-color: darkviolet;
  border-radius: 50%;
  border-style: solid;
}
.aboutUs-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 350px;
  padding-top: 16px;
  padding-bottom: 25px;
}

p.aboutUs {
  width: 250px;
  height: 600px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: center;
}

h2.about {
  padding-top: 24px;
  height: 250px;
}

.about-icons {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
}

.about-icons-img {
  width: 36px;
  height: 36px;
  cursor: pointer;
  padding-right: 30px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #d9d9d9;
}
